* {
    box-sizing: border-box;
}


body {

    margin:0;

    background:#f4f4f4;

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;

    color:#333;

}



.app {

    max-width:600px;

    margin:auto;

}



/* 頂部 */

header {

    background:#b71c1c;

    color:white;

    text-align:center;

    padding:35px 20px;

    border-radius:
    0 0 30px 30px;

}



.logo {

    width:90px;

    height:90px;

    background:white;

    color:#b71c1c;

    border-radius:50%;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:40px;

    font-weight:bold;

}



header h1 {

    margin:15px 0 5px;

    font-size:28px;

}



header p {

    margin:0;

    opacity:0.9;

}



/* 功能按鈕 */

.menu {

    display:grid;

    grid-template-columns:
    1fr 1fr;

    gap:18px;

    padding:20px;

}



.menu button {

    height:120px;

    border:none;

    border-radius:22px;

    background:white;

    font-size:22px;

    box-shadow:

    0 4px 12px rgba(0,0,0,0.12);

}



.menu button:active {

    transform:scale(0.96);

}



/* Dashboard */

.dashboard {

    background:white;

    margin:0 20px 30px;

    padding:20px;

    border-radius:25px;

    box-shadow:

    0 3px 10px rgba(0,0,0,0.1);

}



.dashboard h2 {

    margin-top:0;

}



.info p {

    font-size:18px;

    border-bottom:

    1px solid #eee;

    padding:10px 0;

}
